n8n/01_radar.json
{
  "id": "artemide-radar",
  "versionId": "artemide-radar-v4",
  "name": "Artemide \u00b7 Radar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "r-sch",
      "name": "Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/orgs",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'radar-org-' + $now.toFormat('yyyy-MM-dd') + '-' + $runIndex }}"
            }
          ]
        }
      },
      "id": "r-org",
      "name": "Upsert org",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/engagements",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'radar-eng-' + $now.toFormat('yyyy-MM-dd') + '-' + $runIndex }}"
            }
          ]
        }
      },
      "id": "r-eng",
      "name": "Surface engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/engagements/{{ $json.ulid }}/rescore",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "r-rs",
      "name": "Rescore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "RADAR (daily 06:00)\n\nClassify sources with Claude, POST /orgs + /engagements (surfaced), rescore;\nClaude composes the morning digest. Add the Claude + source nodes per spec.\nArtemide nodes use internal http://artemide:8000. Idempotency-Key on writes.",
        "height": 260,
        "width": 440
      },
      "id": "r-note",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Daily 06:00": {
      "main": [
        [
          {
            "node": "Upsert org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert org": {
      "main": [
        [
          {
            "node": "Surface engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Surface engagement": {
      "main": [
        [
          {
            "node": "Rescore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}