n8n/02_cadence.json
{
  "id": "artemide-cadence",
  "versionId": "artemide-cadence-v4",
  "name": "Artemide \u00b7 Cadence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cad-sch",
      "name": "Weekly Mon 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://artemide:8000/api/v1/planning/due-touches",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "window_days",
              "value": "14"
            }
          ]
        }
      },
      "id": "cad-due",
      "name": "Get due touches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 400,\n  \"system\": \"You are drafting a brief, warm professional check-in email in the owner\\u0027s voice to an executive-search partner. One short paragraph, specific, no filler, end with a light question. Return only the email body text.\",\n  \"messages\": [ { \"role\": \"user\", \"content\": \"Partner: \" + $json.partner_name + \" at \" + $json.firm_name + \". Planned topic: \" + ($json.next_touch_topic || \"general check-in\") + \". Days since last contact: \" + $json.days_since_last_contact + \". Draft the check-in.\" } ]\n} }}"
      },
      "id": "cad-claude",
      "name": "Draft with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/messages",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'cadence-' + $('Get due touches').item.json.partner_ulid + '-' + $now.toFormat('kkkk-WW') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"kind\": \"cadence_touch\",\n  \"channel\": \"email\",\n  \"partner_ulid\": $('Get due touches').item.json.partner_ulid,\n  \"recipient_hint\": $('Get due touches').item.json.partner_name,\n  \"body\": ($json.content && $json.content[0] ? $json.content[0].text : ''),\n  \"rationale\": 'cadence touch \u00b7 ' + $('Get due touches').item.json.status\n} }}"
      },
      "id": "cad-prop",
      "name": "Propose message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "CADENCE (weekly)\n\nArtemide nodes call the INTERNAL url http://artemide:8000 (n8n + artemide\nshare the n8n_default docker network) \u2014 the public hostname is behind\nCloudflare Access and would return a login page. Claude node calls\napi.anthropic.com. JSON bodies are object-expressions.\n\nApprove drafts in /messages; the Sender workflow sends.",
        "height": 300,
        "width": 470
      },
      "id": "cad-note",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -60
      ]
    }
  ],
  "connections": {
    "Weekly Mon 08:00": {
      "main": [
        [
          {
            "node": "Get due touches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get due touches": {
      "main": [
        [
          {
            "node": "Draft with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft with Claude": {
      "main": [
        [
          {
            "node": "Propose message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}