n8n/02_cadence.json
{
  "name": "Artemide \u00b7 Cadence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "weekly",
      "name": "Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://artemide.francescofederico.net/api/v1/planning/due-touches",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "due-touches",
      "name": "Due touches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ARTEMIDE_BOT",
          "name": "Artemide Bot Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://artemide.francescofederico.net/api/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key || $runIndex + '-' + $now.toMillis() }}"
            }
          ]
        }
      },
      "id": "propose-cadence-touch",
      "name": "Propose cadence touch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ARTEMIDE_BOT",
          "name": "Artemide Bot Token"
        }
      }
    },
    {
      "parameters": {
        "content": "CADENCE (weekly + due dates)\n\nGET /planning/due-touches; Claude drafts each warm check-in in voice;\nPOST /messages (proposed, kind=cadence_touch).\nOwner approves in /messages \u2014 then the Sender workflow sends.\nNever calls /approve (owner-only).",
        "height": 220,
        "width": 420
      },
      "id": "note-56384",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ]
    }
  ],
  "connections": {
    "Weekly": {
      "main": [
        [
          {
            "node": "Due touches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due touches": {
      "main": [
        [
          {
            "node": "Propose cadence touch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  },
  "tags": [
    {
      "name": "artemide-v1.2"
    }
  ]
}