n8n/03_inbound_triage.json
{
  "id": "artemide-inbound",
  "versionId": "artemide-inbound-v4",
  "name": "Artemide \u00b7 Inbound triage",
  "nodes": [
    {
      "parameters": {
        "event": "messageReceived"
      },
      "id": "i-watch",
      "name": "Bot mailbox watch",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/orgs",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'inbound-org-' + $json.id }}"
            }
          ]
        }
      },
      "id": "i-org",
      "name": "Upsert org",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/engagements",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'inbound-eng-' + $json.id }}"
            }
          ]
        }
      },
      "id": "i-eng",
      "name": "Upsert engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/messages",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'inbound-msg-' + $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"kind\": \"inbound_reply\", \"body\": ($json.draft || \"\"), \"source_ref\": $json.mailId } }}"
      },
      "id": "i-msg",
      "name": "Propose reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "INBOUND TRIAGE (bot mailbox watch)\n\nClaude classifies + drafts a reply; POST /orgs + /engagements where relevant,\nPOST /messages (proposed, kind=inbound_reply, source_ref=mail id -> Rule 20\nidempotency). Bind the Outlook OAuth2 cred to the trigger; add the Claude node.\nArtemide nodes use internal http://artemide:8000.",
        "height": 260,
        "width": 440
      },
      "id": "i-note",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Bot mailbox watch": {
      "main": [
        [
          {
            "node": "Upsert org",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert engagement",
            "type": "main",
            "index": 0
          },
          {
            "node": "Propose reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}