n8n/04_dossier.json
{
  "id": "artemide-dossier",
  "versionId": "artemide-dossier-v4",
  "name": "Artemide \u00b7 Dossier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "d-sch",
      "name": "Poll outbox",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://artemide:8000/api/v1/events?limit=50",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "d-ev",
      "name": "Get events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/notes",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'dossier-' + $json.ulid }}"
            }
          ]
        }
      },
      "id": "d-note",
      "name": "Post dossier note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/events/{{ $json.ulid }}/ack",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "d-ack",
      "name": "Ack event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "DOSSIER (outbox engagement.surfaced)\n\nFilter events to engagement.surfaced. company-data MCP + web; Claude assembles\nthe brief; POST /notes (entity_type=org|engagement); ack by ulid.\nArtemide nodes use internal http://artemide:8000.",
        "height": 260,
        "width": 440
      },
      "id": "d-stick",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Poll outbox": {
      "main": [
        [
          {
            "node": "Get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get events": {
      "main": [
        [
          {
            "node": "Post dossier note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post dossier note": {
      "main": [
        [
          {
            "node": "Ack event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}