n8n/05_prep_pack.json
{
  "id": "artemide-preppack",
  "versionId": "artemide-preppack-v4",
  "name": "Artemide \u00b7 Prep pack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "p-sch",
      "name": "Poll outbox",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://artemide:8000/api/v1/events?limit=50",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "p-ev",
      "name": "Get events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://artemide:8000/api/v1/engagements/{{ $json.entity_ulid }}",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "p-get",
      "name": "Get engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/notes",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'prep-' + $json.ulid }}"
            }
          ]
        }
      },
      "id": "p-note",
      "name": "Post prep note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/events/{{ $json.ulid }}/ack",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "p-ack",
      "name": "Ack event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "PREP PACK (outbox engagement.stage_changed -> formal)\n\nFilter events to stage_changed/to_stage=formal. GET engagement; Claude builds\nthe SRA pack; POST /notes (engagement). Ack by ulid.\nArtemide nodes use internal http://artemide:8000.",
        "height": 260,
        "width": 440
      },
      "id": "p-stick",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Poll outbox": {
      "main": [
        [
          {
            "node": "Get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get events": {
      "main": [
        [
          {
            "node": "Get engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get engagement": {
      "main": [
        [
          {
            "node": "Post prep note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post prep note": {
      "main": [
        [
          {
            "node": "Ack event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}