n8n/06_flywheel.json
{
  "name": "Artemide \u00b7 Flywheel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "weekly",
      "name": "Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://artemide.francescofederico.net/api/v1/orgs",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key || $runIndex + '-' + $now.toMillis() }}"
            }
          ]
        }
      },
      "id": "upsert-org",
      "name": "Upsert org",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ARTEMIDE_BOT",
          "name": "Artemide Bot Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://artemide.francescofederico.net/api/v1/engagements",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key || $runIndex + '-' + $now.toMillis() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"org_ulid\": {{ JSON.stringify($json.org_ulid) }},\n  \"role_title\": {{ JSON.stringify($json.role_title) }},\n  \"source\": \"flywheel\"\n}"
      },
      "id": "surface-flywheel-engagement",
      "name": "Surface flywheel engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ARTEMIDE_BOT",
          "name": "Artemide Bot Token"
        }
      }
    },
    {
      "parameters": {
        "content": "FLYWHEEL (weekly)\n\nClaude matches engagement signals to the org list and surfaces warm intros.\nPOST /orgs + /engagements (source=flywheel). Owner decides whether to act.",
        "height": 220,
        "width": 420
      },
      "id": "note-58002",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ]
    }
  ],
  "connections": {
    "Weekly": {
      "main": [
        [
          {
            "node": "Upsert org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert org": {
      "main": [
        [
          {
            "node": "Surface flywheel engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  },
  "tags": [
    {
      "name": "artemide-v1.2"
    }
  ]
}