n8n/06_flywheel.json
{
  "id": "artemide-flywheel",
  "versionId": "artemide-flywheel-v4",
  "name": "Artemide \u00b7 Flywheel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "f-sch",
      "name": "Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/orgs",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'flywheel-org-' + $now.toFormat('kkkk-WW') + '-' + $runIndex }}"
            }
          ]
        }
      },
      "id": "f-org",
      "name": "Upsert org",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/engagements",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ 'flywheel-eng-' + $now.toFormat('kkkk-WW') + '-' + $runIndex }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"org_ulid\": $json.org_ulid, \"role_title\": $json.role_title, \"source\": \"flywheel\" } }}"
      },
      "id": "f-eng",
      "name": "Surface flywheel engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "FLYWHEEL (weekly)\n\nClaude matches signals to the org list; POST /orgs + /engagements (source=flywheel).\nArtemide nodes use internal http://artemide:8000.",
        "height": 260,
        "width": 440
      },
      "id": "f-stick",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Weekly": {
      "main": [
        [
          {
            "node": "Upsert org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert org": {
      "main": [
        [
          {
            "node": "Surface flywheel engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}