n8n/sender.json
{
  "id": "artemide-sender",
  "versionId": "artemide-sender-v4",
  "name": "Artemide \u00b7 Sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "s-sch",
      "name": "Poll outbox",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://artemide:8000/api/v1/events?limit=50",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "s-ev",
      "name": "Get events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send"
      },
      "id": "s-send",
      "name": "Send from bot mailbox",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/messages/{{ $json.entity_ulid }}/sent",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "s-sent",
      "name": "Mark sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://artemide:8000/api/v1/events/{{ $json.ulid }}/ack",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "s-ack",
      "name": "Ack event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "SENDER (outbox message.approved) \u2014 THE ONLY SENDER\n\nFilter events to message.approved (emitted only after owner approval). Send via\nthe bot mailbox (bind Outlook OAuth2), then POST /messages/{ulid}/sent + ack.\nNo workflow calls /approve. Artemide nodes use internal http://artemide:8000.",
        "height": 300,
        "width": 470
      },
      "id": "s-stick",
      "name": "Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    }
  ],
  "connections": {
    "Poll outbox": {
      "main": [
        [
          {
            "node": "Get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get events": {
      "main": [
        [
          {
            "node": "Send from bot mailbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send from bot mailbox": {
      "main": [
        [
          {
            "node": "Mark sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark sent": {
      "main": [
        [
          {
            "node": "Ack event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "artemide-v1.2"
  }
}